body {
align: center;
background-color: rgb(0%, 90%, 50%);
}

.Main {text-align: center;}

header {
background: #0074cc;
padding: 20px;
color: white;
}

#edu-list {
list-style-type: none;
}

#skills-list {
list-style-type: none;
}
